.container {
  z-index: 10;
  background-color: #181717;
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.about-container section {
  font-size: 1.2rem;
  padding: 1rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  color: rgb(221, 221, 221);
}
.about-container section h2 {
  margin: 1rem;
  color: white;
  border-bottom: 2px solid white;
  padding: 0.5rem;
}
.download-btn {
  text-align: center;
  margin: 2rem;
  padding: 1rem 1.1rem;
  align-items: center;
  display: flex;
  background-color: rgb(20, 19, 19);
  border: 0.5px solid white;
  cursor: pointer;
  transition: all linear 0.5s;
  font-size: 1rem;
  color: rgb(236, 234, 234);
}
.download-btn:hover {
  background-color: rgb(80, 79, 79);
  opacity: 0.5;
  color: white;
}
