.education-container {
  color: white;
  display: block;
  padding: 2rem 1rem;
}
.education-container section h2 {
  text-align: center;
  margin: 2rem;
}

.section2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.section2 div h3 {
  margin: 1rem;
  font-weight: 500;
}
.section2 div {
  text-align: center;
  margin: 1rem;
  width: 40%;
}
.section2 div p {
  color: var(--text-grey);
  letter-spacing: var(--letter-spacing);
  font-weight: 300;
}
.skills-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.skills-container h4 {
  margin: 3rem auto;
}
.skills-container section {
  display: flex;
  margin: 1rem auto;
}
.skills-filler {
  width: 30vw;
  height: 4vh;
  background-color: aqua;
  margin: auto 1rem;
  border-radius: 5px;
  border: 2px solid aqua;
}
.box {
  display: flex;
  text-align: left;
  width: 30%;
}
