.hero-section {
 
  height: 100vh;
  width: 100%;
  z-index: -10;
  padding: 2rem;
  margin-bottom: 2rem;
}
.logo-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 1rem 0;
}
#tsparticles {
  height: 100vh !important;
  position: absolute !important;
  z-index: -1;
  left: 0;
  width: 100%;
  top: 0;
  margin: 0;
}

.particles-container {
  height: 100vh !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  z-index: -1;
  overflow: hidden;
}

/* .menu-btn:hover {
    scale: 12%;
  } */

@keyframes bouncing {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(2, 2);
  }

  100% {
    transform: scale(1, 1);
  }
}
.menu-btn {
  animation-name: bouncing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.hero-box1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.list-item-icon svg {
  font-size: 40px;
  color: white;
}
#mern-color {
  color: rgb(249, 255, 77);
}
#react-native-color {
  color: rgb(255, 116, 176);
}
.MuiListItemButton-root:hover {
  background-color: rgba(56, 56, 56, 0.739) !important;
}
.container {
  z-index: 10;
  background-color: #181717;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  
}

.about-container {
  flex-wrap: wrap-reverse;
}
.about-container section {
  font-size: 1.2rem;
  padding: 1%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  color: rgb(221, 221, 221);
  width: 48%;
}
.about-container section h2 {
  margin: 1rem;
  color: white;
  border-bottom: 2px solid white;
  padding: 0.5rem;
}
.btn {
  text-align: center;
  margin: 2rem;
  padding: 1rem 1.1rem;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-color: rgb(20, 19, 19);
  border: 0.5px solid white;
  cursor: pointer;
  transition: all linear 0.5s;
  font-size: 1rem;
  color: rgb(236, 234, 234);
}
.download-btn:hover {
  background-color: rgb(80, 79, 79);
  opacity: 0.5;
  color: white;
}
.education-container {
  color: white;
  /* display: block; */
  padding: 2rem 1rem;
  flex-direction: column;
}
.education-container section h2 {
  text-align: center;
  margin: 2rem;
}

.section2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.section2 div h3 {
  margin: 1rem;
  font-weight: 500;
}
.section2 div {
  text-align: center;
  margin: 1rem;
  width: 40%;
}
.section2 div p {
  color: var(--text-grey);
  letter-spacing: var(--letter-spacing);
  font-weight: 300;
}
.skills-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.skills-container h4 {
  margin: 3rem auto;
}
.skills-container section {
  display: flex;
  margin: 0.5rem auto;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

.skills-filler {
  margin: auto 1rem;
  border-radius: 5px;
  width: 30%;
  height: 4vh;

  background-color: rgb(36, 35, 35);
}
.box {
  display: flex;
  width: 20%;
}
.box-sk {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.services-container section {
  width: 100%;
  display: flex;
 
  margin: 4rem 0;
  justify-content: space-between;
  padding: 1rem;
  
}
.service-card {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background-color: rgb(36, 35, 35) !important;
  color: white !important;
  border-radius: 0 !important;
  border: 1px solid rgba(154, 154, 154, 0.564);
  transition: transform ease-in 0.5s !important;
  width: 30% !important;
}
.service-card div {
  margin: 1rem 0;
}
.service-card:hover {
  transform: scale(1.1) !important;
}
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.project-link {
  text-decoration: none;
}

.project-card {
  transition: all ease-in 0.5s !important;
  background-color: #181717 !important;
  color: var(--text-grey) !important;
  box-shadow: 0px 1px 1px 1px rgb(38, 38, 38) !important;
  margin: 1rem 0;
  height: 100%;
}
.project-card:hover {
  background-color: rgba(178, 178, 178, 0.487);
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#custom-css-outlined-input {
  color: white !important;
}
.MuiTextField-root {
  margin: 1rem 0 !important;
  color: white;
}
.submit-btn {
  margin: 0;
  background-color: #838383;
  color: black;
}
