@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@300;400;500&display=swap");
:root {
  --background-grey: #181717;
  --text-grey: rgb(221, 221, 221);
  --letter-spacing: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth;
}
body {
  background-color: #181717;
}
